<h1>Registration Page(single person)</h1>
    <form method="POST" action="/confirm-single">

                <div id ="pName">
                    <label for="pName">Name :</label>
                    <input type="text" name="pName" placeholder="Enter your name...." required>
                </div>
                <br>
                <div id ="email">
                    <label for="email">Email Address :</label>
                    <input type="email" name="email" placeholder="Enter your email address...." required>
                </div>
                <br>
                <div id ="college">
                    <label for="college">College :</label>
                    <input type="text" name="college" placeholder="Enter your college name...." required>
                </div>
                <br>
                <div id="stay">
                    <label for="stay">Would u like to stay at DTU : </label>                   
                    <!-- <input type="text" name="stay"> -->
                    <select name="stay">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div id="event">
                    <label for="event">Event : </label>                   
                    <select name="event">
                        <option value="event1">Event 1</option>
                        <option value="event2">Event 2</option>
                        <option value="event3">Event 3</option>
                        <option value="event4">Event 4</option>
                        <option value="event5">Event 5</option>
                        <option value="event6">Event 6</option>
                        <option value="event7">Event 7</option>
                        <option value="event8">Event 8</option>
                        <option value="event9">Event 9</option>
                        <option value="event10">Event 10</option>
                    </select>
                </div>
                
                
                <button type="submit">REGISTER</button>
                   
            </form>       
            <a href="/">Home</a>  



            